*{
  border: 1px solid #000;
}
h1{
  text-align: center;
}

h2{
  margin : 0 50px;
}

.titre{
  background-color:yellow;
}

.score{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.score>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.tablejeu{
  background-image: url(../img/GameTrap_background4.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.mainJoueur,.mainOrdi,.plateau{
  margin: 0;
  display: inline-block;
}

.mainJoueur,.mainOrdi{
  width: 28%;
}

.plateau{
  width: 41%;
  position: relative;

}

.imgCarte{
  width:80%;
}

.cartePlateau,.carteJeu{
  border: 2px solid #000;
  border-radius: 10px;
  width: 50%;
  margin: 20px 25%;
}

.carteJeu{
  background-color: red;
}

.carteJeu>div{
  background-color: white;
  width: 70%;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartePlateau{
  display: none;
}

.rangement{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.annonce{
  position: absolute;
}
